:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue",
    sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
}

.nav-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-dark);
  transition: 0.3s;
}

nav .logo a:hover {
  color: var(--primary-color-dark);
}


nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-content  li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 400;
  color: var(--text-dark);
}

.nav-content li a:hover{
  border-top-color: var(--secondary-color);

}

.section {
  background-color: var(--extra-light);
}

.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.title span {
  font-weight: 600;
  color: #ca8a04;
}

.description {
  line-height: 2rem;
  color: var(--text-light);
  margin-bottom: 1.5rem;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  width: min(25rem, 90%);
  border-radius: 50%;
  height: auto;
  margin-left: 100px;
}

.about {
  width: 100%;
  padding: 50px 0;
  background-color: var(--extra-light);
}

.about img {
  height: auto;
  width: 380px;
}

.about-text {
  width: 480px;
}

.main-about {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: var(--primary-color-dark);
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-shadow: 2px 2px 2px #000000;
}

.about-text h5 {
  color: var(--text-dark);
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.about-text p {
  color: var(--text-light);
  letter-spacing: 1px;
  line-height: 1.6rem;
  font-size: 16px;
  margin-bottom: 30px;
  
}

.my-goals {
  background: var(--extra-light);
  width: 100%;
  padding: 100px 0;
}

.title h2 {
  color: #9333ea;
  font-size: 45px;
  width: 1130px;
  margin: 15px auto;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  margin-bottom: 60px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.goals {
  height: 270px;
  width: 250px;
  padding: 20px 25px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

h5 {
  color: #1f2937;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.goals-text {
  color: #6b7280;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.comments-container {
  padding: 50px 0;
  background-color: var(--extra-light);
  text-align: center;
}

.header {
  margin-bottom: 1.5rem;
}

.header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.header h1 {
  color: var(--primary-color-dark);
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 60px;
  text-shadow: 2px 2px 2px #000000;
}

.team-grid {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

.team {
  background: #fff;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.team i {
  font-size: 2.5rem;
  color: #9333ea;
}

.team p {
  font-size: 1rem;
  font-weight: 500;
}

.team hr {
  width: 40px;
  margin: auto;
  border: 1px solid #9333ea;
}

.team img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color-dark);
}

.team .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #9333ea;
  transition: 0.3s;
}

.team .name:hover {
  color: #6b7280;
}

.my-works {
  background-color: var(--extra-light);
  padding: 50px 0;
  text-align: center;
}

.my-works h2 {
  color: var(--primary-color-dark);
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 60px;
  text-shadow: 2px 2px 2px #000000;
  
}

.my-works ul {
  list-style: none;
  padding: 0;
}

.my-works li {
  background: #fff;
  padding: 20px 25px;
  margin: 10px auto;
  border-radius: 20px;
  width: 70%;
  max-width: 500px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.my-works li:hover {
  transform: translateY(-10px);
}

.my-works a {
  color: var(--primary-color-dark);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.my-works a:hover {
  color: var(--secondary-color);
}

.me-in-five-years {
  background-color: var(--extra-light);
  padding: 100px 0;
  text-align: center;
}

.me-in-five-years h2 {
  color: var(--primary-color-dark);
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 60px;
  text-shadow: 2px 2px 2px #000000;
}

.me-in-five-years-container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.me-in-five-years-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 30px;
  max-width: 1200px;
  margin: auto;
}

.me-in-five-years p {
  color: var(--text-dark);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

footer {
  background-color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 50px;
  margin-right: 20px;
}

.footer-text {
  color: var(--primary-color-dark);
  font-size: 18px;
  font-weight: 500;
}